{% extends 'service_provider/service_base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <!--=========== END HEADER SECTION ================-->
    <section id="blogArchive">


    </section>
    <!--=========== BEGIN Google Map SECTION ================-->
<!--    <section id="googleMap">-->
<!--      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.297314036103!2d-86.74954699999999!3d34.672444999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88626565a94cdb25%3A0x74c206053b6a97c9!2s305+Intergraph+Way%2C+Madison%2C+AL+35758%2C+USA!5e0!3m2!1sen!2sbd!4v1431591462160" width="100%" height="500" frameborder="0" style="border:0"></iframe>-->
<!--    </section>-->
    <!--=========== END Google Map SECTION ================-->
    <section id="contact">

        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6">
            <div class="contact-form">
              <div class="section-heading">


              </div>

              <div id="mainBody" style="padding-right: 500px;" >
     <h1>SERVICES</h1>

	<table class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">

                                  <th class="success" style="color: black;">Name</th>
                                 <th class="success" style="color: black;">Phone</th>
                                 <th class="success" style="color: black;">email</th>
                                 <th class="success" style="color: black;">Address</th>
                                 <th class="success" style="color: black;">Experience</th>
                                 <th class="success" style="color: black;">Certificate</th>
                                 <th class="success" style="color: black;">Category</th>
                                 <th class="success" style="color: black;">Price</th>
                                 <th class="success" style="color: black;">Details</th>
                                 <th class="success" style="color: black;">Booking From Date</th>
                                 <th class="success" style="color: black;">Booking To Date</th>
                                 <th class="success" style="color: black;">Payment status</th>
                                 <th class="success" style="color: black;">Booking status</th>
                                  <th class="success" style="color: black;">Redirect</th>

                                 <th class="success" style="color: black;">Approved</th>
                                 <th class="success" style="color: black;">Reject</th>
                                 {% for service in booking %}

                                <tr style="background-color:white;width: 700px;">
                                    <td>{{ service.user.user.first_name }}</td>
                                    <td>{{ service.user.phone }}</td>
                                    <td>{{ service.user.email }}</td>
                                    <td>{{ service.user.address }}</td>
                                    <td>{{ service.serviceprovider.experience }}</td>
                                    <td>                        <a href="/media/{{ service.user.certificate }}" class="btn btn-light btn-radius btn-brd grd1 btn-block" style="color:blue;font-weight: bold" download>
  DOWNLOAD
</a></td>
                                    <td>{{ service.serviceprovider.categorys.category }}</td>
                                    <td>{{ service.serviceprovider.categorys.price }}</td>
                                    <td>{{ service.serviceprovider.categorys.details }}</td>
                                    <td>{{ service.from_date }}</td>
                                    <td>{{ service.to_date }}</td>
                                    <td>{{ service.payment }}</td>
                                    <td>{{ service.status }}</td>
                                                                        <td>
                                          <form method="post" action=""  enctype="multipart/form-data">
                                          {% csrf_token %}
                                        <label for="cars">Choose another provider:</label>

                                    <select name="provider" id="cars">
                                        {% for i in users %}
                                      <option value="{{i.id}}">{{i.user.first_name}}</option>
                                        {% endfor %}
                                    </select>
                                              <input name="id" type="hidden" value="{{service.id}}">
                                              <br>
                                              <button style="height:30px;width:90px;background:orange" type="submit"></i><span>Submit</span></button>
                                    </form>

                                    </td>

<!--                                    <td><img style="max-width: 200px;max-height:140px;" src="/media/{{ farmer.image }}"></td>-->
                                    <td><button style="background-color:lightslategray"><a href="reject?id={{ service.id }}" class=" btn btn-danger" style="color:black">Reject</a></button></td>
                                    <td><button style="background-color:lightslategray"><a href="approve?id={{ service.id }}" class=" btn btn-success" style="color:black">Approved</a></button></td>


                                </tr>


                              {% endfor %}
                            </table>
</div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!--=========== Start Footer SECTION ================-->
    {% endblock %}